<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.1/jquery.mobile-1.4.1.min.css">
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.1/jquery.mobile-1.4.1.min.js"></script>
{% block css %}{% endblock %}
    <style>
  #list { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #list li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
  #list li span { position: absolute; margin-left: -1.3em; }
  </style>
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>