{% extends "_Base.html" %}

{% block title %}
iOS Beta Deploy Server
{% endblock %}

{% block css %}
{% endblock %}
{% block body %}
    <h1>{{ project.name }}</h1>

<ul id="list">
{% for instance in instances %}
    {% url "project_view" instance.token as instance_url %}
    <li class="ui-state-default"><a href="itms-services://?action=download-manifest&url={{ instance_url|urlencode }}">
        {{ project.name }} {{ instance.version }}(BN {{ instance.build_version }}) {{ instance.create_date|date:"y/m/d h:m" }}</a>
    </li>
{% endfor %}
</ul>
{% endblock %}